.switch {
  position: relative;
  display: inline-block;
  width: 34px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px; /* Rounded corners */
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px; /* Adjust to fit within the switch */
  width: 14px; /* Adjust to fit within the switch */
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%; /* Circle knob */
}

input:checked + .slider {
  background-color: #2dc198; /* Change background color when checked */
}

input:checked + .slider:before {
  transform: translateX(14px); /* Move the knob */
}
