@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}


* {
  font-family: "Noto Sans";
  color: #ffffff;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0E0E0E;

:root {
  --font-noto-sans-jp: "Noto Sans JP", sans-serif;
}

body {
  font-family: var(--font-noto-sans-jp);
}

/* css for switch */

/* Switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 50px; /* Even smaller width */
  height: 30px; /* Even smaller height */
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e1e1e;
  transition: 0.4s;
  border-radius: 30px; /* Slightly rounded corners */
}

/* Circle inside the slider */
.slider:before {
  position: absolute;
  content: "";
  height: 22px; /* Smaller circle */
  width: 22px; /* Smaller circle */
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

/* When the checkbox is checked, slide the circle to the right */
input:checked + .slider {
  background-color: #2dc198;
}

input:checked + .slider:before {
  transform: translateX(20px); /* Adjusted translateX for the smaller width */

}

.hide-scroll:-webkit-scrollbar {
  display: none;
}